.boardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 95vw;

  margin: 15px auto;

  > :nth-child(1) {
    background-color: #ffdede;
  }
  > :nth-child(2) {
    background-color: #e8ffde;
  }
  > :nth-child(3) {
    background-color: #e6fffd;
  }
  > :nth-child(4) {
    background-color: #fff0de;
  }
  > :nth-child(5) {
    background-color: #ededed;
  }
}

.columnContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid black;
  border-radius: 5px;
  flex-shrink: 0;
  width: 18vw;
  min-width: 250px;
  height: 100%;
  padding: 20px 10px;

  &:hover {
    > .newTaskButton {
      opacity: 0.15;
    }
    > .columnTitle {
      transform: scale(0.9);
    }
  }
}

.columnTitle {
  text-align: center;
}

.newTaskButton {
  transition: all 0.2s linear;
  outline: none;
  border: none;
  border-radius: 10px;
  border: 2px solid black;
  height: 50px;
  width: 60%;
  margin: 0 auto;
  background-color: transparent;
  opacity: 0;
  > svg {
    transform: rotate(0deg);
    transition: all 0.1s linear;
  }
  &:hover {
    opacity: 1 !important;
    > svg {
      transform: scale(1.2) rotate(90deg);
      transition: all 0.1s linear;
    }
  }
}

.newTaskForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  align-items: center;
}

.addTaskBtb,
.closeFormBtn {
  border: 2px solid rgba(0, 0, 0, 0.056);
  padding: 5px;
  border-radius: 1px;

  display: inline-flex;
  width: 150px;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    border: 2px solid rgb(0, 0, 0);
  }
}

.input,
.textarea {
  width: 70%;
  padding: 3px;

  &:focus {
    border: 2px solid rgb(0, 0, 0);
  }
}

.textarea {
  resize: none;
}
.tasksContainer {}